<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/bio">Bio</a></li>
			<li><a href="/fiction">Fiction</a></li>
			<li><a href="/nonfiction">Nonfiction</a></li>
			<li><a href="/projects">Projects</a></li>
			<li><a href="/blog">Blog</a></li>
		</ul>
		</nav>
		<div class="container">

		{{ content }}

		</div><!-- /.container -->
		<footer>
		<ul>
			<li><a href="mailto:bhayes@sdsu.edu">email</a></li>
			<li><a href="https://github.com/bhayes7">github</a></li>
			</ul>
		</footer>
	</body>
</html>
